* {
    margin: 0;
}

/*---------------------Header/Footer-------------------------*/

header {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    height: 35px;
    background-color: rgb(46, 46, 46);
    padding: 25px 5px;
}

#logo {
    width: 40px;
    height: 35px;
}

nav h1 {
    font-family: "Potta One", sans-serif;
    margin-top: -9px;
    font-size: 35px;
}

#hl {
    margin: 0 20px;
    font-family: "Roboto", sans-serif;
}

.hlinks {
    margin-left: 50%;
    margin-top: 5px;
}

.hhr {
    width: 0;
    height: 35px;
    margin: 0 5px;
}

/*----------------------Body/Div/Section----------------------*/

body {
    background-color: rgb(70, 72, 85);
    font-size: 20px;
    color: white;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.list {
    margin: 30px;
}

#list {
    width: 30vw;
    display: inline-block;
}

.type {
    text-align: center;
    font-size: 30px;
    color: lightsalmon;
    margin-bottom: 20px;
}